@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Founders_bl";
  src: url("/Fonts/FoundersGroteskXCond-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Founders_lg";
  src: url("/Fonts/FoundersGroteskXCond-Lt.ttf") format("truetype");
}
@font-face {
  font-family: "Neue";
  src: url("/Fonts/NeueMontreal-Regular.ttf") format("truetype");
}

.hoverAnim:hover .arrowGit {
  transform: rotate(-45deg);
  transition: transform 0.2s ease-in-out;
}
